$default: #1698d9;
$defaultHover: lighten($default, 20%);
$selected: #d91667;
$selectedHover: lighten($selected, 20%);
$disabled: #b3b3b3;
$ligtText: #666666;
$cardMg: 33px;

.card-wrapper {
  width: 320px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;

  .card {
    position: relative;
    cursor: pointer;
    max-height: 480px;
    min-height: 480px;
    color: #000000;
    clip-path: polygon(100% 0%, 100% 100%, 0 100%, 0 8.5%, 12.5% 0);
    background-color: #f2f2f2;
    border: 4px solid $default;
    border-radius: 10px;
    background-image: url("../../images/cat.png");
    background-repeat: no-repeat;
    background-position: -24px 205px;
    padding: 12px;
    transition: all 0.2s linear;

    &-header {
      font-size: 16px;
      color: $ligtText;
      margin-top: 9px;
      margin-left: 33px;
    }

    &-body {
      margin-left: 33px;

      &__title {
        font-size: 48px;
        margin-top: 17px;
        margin-bottom: 0;
      }

      &__with {
        font-size: 24px;
      }

      &__promo {
        margin-top: 15px;
        color: $ligtText;
        font-size: 14px;
      }
    }

    &-weight {
      position: absolute;
      text-align: center;
      color: #ffffff;
      background-color: $default;
      width: 82px;
      height: 82px;
      font-size: 40px;
      right: 12px;
      bottom: 12px;
      border-radius: 50%;
      padding-top: 8px;
      transition: all 0.2s linear;

      &__unit {
        font-size: 15px;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 4px;
      background-color: $default;
      transform: rotate(-45deg);
      left: -10px;
      transition: all 0.2s linear;
    }

    &:hover {
      border-color: $defaultHover;

      & .card-weight,
      &::before {
        background-color: $defaultHover;
      }
    }
  }

  .card-info {
    text-align: center;
    margin-top: 15px;

    &__link {
      text-decoration: none;
      color: $default;
      border-bottom: 2px dashed $default;
      transition: all 0.2s linear;

      &:hover {
        color: $defaultHover;
        border-color: $defaultHover;
      }
    }
  }

  .info-disabled {
    color: #9FA046;
  }

  .selected {
    border: 4px solid $selected;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 4px;
      background-color: $selected;
      transform: rotate(-45deg);
      left: -10px;
      transition: all 0.2s linear;
    }

    &:hover {
      border-color: $selectedHover;

      .card-weight,
      &::before {
        background-color: $selectedHover;
      }
    }

    & .card-weight {
      background-color: $selected;
    }
  }

  .disabled {
    position: relative;
    border: 4px solid $disabled;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 4px;
      background-color: $disabled;
      transform: rotate(-45deg);
      left: -10px;
      transition: all 0.2s linear;
      z-index: 10;
    }

    &::after {
      content: "";
      cursor: default;
      display: block;
      position: absolute;
      border-radius: 10px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.6);
    }

    .card-weight {
      background-color: $disabled;
    }

    &:hover {
      border: 4px solid $disabled;

      & .card-weight,
      &::before {
        background-color: $disabled;
      }
    }
  }
}

// @media screen and (max-width: 400px) {
//   .wrapper {
//     margin-left: 0;
//     margin-right: 0;
//   }
// }
