@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Times New Roman', Times, sans-serif;
  margin: 0;
}